<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mengdd.transactionani"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mengdd.transactionani.HelloTransactionAnimationMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mengdd.transaction.fragment.v4.TestFragmentV4Activity" >
        </activity>
        <activity android:name="com.mengdd.transaction.activity.TestActivities" >
        </activity>
        <activity android:name="com.mengdd.transaction.activity.TestActivityFirst" >
        </activity>
        <activity android:name="com.mengdd.transaction.activity.TestActivitySecond" >
        </activity>
        <activity android:name="com.mengdd.transaction.fragment.high.TestFragmentActivity" >
        </activity>
        <activity android:name="com.mengdd.transaction.activity.leftfade.FirstActivity" >
        </activity>
        <activity android:name="com.mengdd.transaction.activity.leftfade.SecondActivity" >
        </activity>
    </application>

</manifest>